<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen şu adresi ziyaret edin:
   https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <authentication mode="Forms">

      <forms cookieless="UseCookies" defaultUrl="login.aspx" loginUrl="login.aspx" protection="All" timeout="30">
      </forms>

    </authentication>
    <membership defaultProvider="UyeYonetimSaglayici">
      <providers>
        <add name="UyeYonetimSaglayici"
            type="System.Web.Security.SqlMembershipProvider"
            connectionStringName="baglantim"
            enablePasswordRetrieval="false"
            enablePasswordReset="true"
            requiresQuestionAndAnswer="true"
            applicationName="/"
            requiresUniqueEmail="false"
            passwordFormat="Hashed"
            maxInvalidPasswordAttempts="5"
            minRequiredPasswordLength="5"
            minRequiredNonalphanumericCharacters="0"
            passwordAttemptWindow="10"
            passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="kurabiyeCanavari" defaultProvider="RolSaglayici">
      <providers>
        <add connectionStringName="baglantim"
        applicationName="/"
        name="RolSaglayici"
        type="System.Web.Security.SqlRoleProvider, System.Web,
                  Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="baglantim"
      connectionString="Data Source=TSHBA\SQLAYSE;Initial Catalog=HABER;User ID=sa;Password=12345"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>