@model  CVTemplate.Models.BeceriYetenek
@{
     ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <br />
<h2>Beceri Güncelle</h2>

<br />
<div class="container">
    @using (Html.BeginForm("BeceriGuncelle", "Admin"))
    {
        <div class="form-group">
            <label for="exampleFormControlInput1">Başlık</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="baslik" value="@Model.baslik">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Açıklama</label>
            <textarea rows="30" cols="100" name="aciklama" class="form-control">@Model.aciklama</textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2">Güncelle</button>
        </div>

    }
</div>