


@model  CVTemplate.Models.Kategoriler
@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Blog  Sil</h2>

<br />
<p>Aşağıdaki veriyi silmek istediğinize emin misiniz?</p>


@Html.Label("Başlık: ")

@Html.DisplayFor(x => x.KategoriBaslik)
<br />



<hr />
@using (Html.BeginForm("BlogSil", "Admin"))
{
    @Html.HiddenFor(x => x.id)
    <input type="submit" value="Sil" class="btn btn-primary" />

}
@if (ViewBag.Result != null)
{
    <div class="alert alert-@ViewBag.Status" role="alert">
        @ViewBag.Result;
    </div>
}