@model CVTemplate.Controllers.AdminController.AllTables2
@{
     ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <br />
<h2>Yeni Referans</h2>
<br />


@using (Html.BeginForm("YeniReferans", "Admin"))
{
    <div class="form-group">
        <label for="exampleFormControlInput1">Referans Adı</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="refad">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Referans Soyadı</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="refsoyad">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Referans Şirketi</label>
        <input type="text" class="form-control" id="exampleFormControlInput2" name="sirket">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Referans Görevi</label>
        <input type="text" class="form-control" id="exampleFormControlInput2" name="gorev">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Referans Telefon</label>
        <input type="text" class="form-control" id="exampleFormControlInput2" name="telefon">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary mb-2">Ekle</button>
    </div>

}