@model CVTemplate.Controllers.AdminController.AllTables2
@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Yeni Deneyim</h2>
<br />


@using (Html.BeginForm("YeniDeneyim", "Admin"))
{
    <div class="form-group">
        <label for="exampleFormControlInput1">Görev Yeri</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="gorevyeri">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Görev</label>
        <input type="text" class="form-control" id="exampleFormControlInput2" name="gorev">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Görev Yılı</label>
        <input type="text" class="form-control" id="exampleFormControlInput2" name="gorevyili">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary mb-2">Ekle</button>
    </div>

}